<div class="banner-two jumbotron jumbotron-fluid">
    <h1 class="shadowed">Ready to order?</h1>
    <h3 class="shadowed">Sign up today and start expediting the rate at which you shovel food into your face</h3>
</div>

<div class="container-fluid" id="footer">
    <br style="line-height: 3em;">
    <div class="row justify-content-center">
        <div class="col-sm-2">
            <h5>Help &amp; Support</h5>
            <ul>
                <li><a href="https://livefitfood.ca/pages/faq">FAQ</a></li>
                <li><a href="https://livefitfood.ca/pages/terms-of-service">Terms of Service</a></li>
                <li><a href="https://livefitfood.ca/pages/contact-us">Other Contact Methods</a></li>
            </ul>
        </div>
        
        <div class="col-sm-2">
            <h5>Get Started</h5>
            <ul>
                <li><a href="/meals">View meal packages</a></li>
                <li><a href="/register">Register now</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>

        <div class="col-sm-2">
            <h5>Contact Us</h5>
            <ul>
                <li><a href="https://www.facebook.com/livefitfood">Facebook</a></li>
                <li><a href="https://www.instagram.com/livefitfoods/">Instagram</a></li>
                <li><a href="mailto:info@livefitfitness.com">Email Us</a></li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 centre">
            <br style="line-height: 3em;">
            <p class="footie">&copy; Clint Sheppard 2020</p>
        </div>
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>