        
        <div class="row">
            <div class="col-lg">
                <h2>No cooking, just eating</h2>
                <br>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto feature">
                <img src="https://cdn.shopify.com/s/files/1/1758/4293/files/Pick_1.gif?14089">
                    <p class="strong">Pick</p>
                    <p class="desc">100+ menu of all-natural dishes.</p>
            </div>
            <div class="col-auto feature">
                <img src="https://cdn.shopify.com/s/files/1/1758/4293/files/heat.gif?14089">
                    <p class="strong">Heat</p>
                    <p class="desc">Cooked &amp; delivered.</p>
            </div>
            <div class="col-auto feature">
                <img src="https://cdn.shopify.com/s/files/1/1758/4293/files/eat_1_1.gif?14089">
                    <p class="strong">Eat</p>
                    <p class="desc">Delicious &amp; nutritious</p>
            </div>
            <div class="col-auto feature">
                <img src="https://cdn.shopify.com/s/files/1/1758/4293/files/repeat---Copy.gif?14095">
                    <p class="strong">Repeat</p>
                    <p class="desc">Skip a week or cancel any time.</p>
            </div>
        </div>
    </div> 

    <div class="banner-one jumbotron jumbotron-fluid">
        <h1 class="shadowed">Stop cooking, start eating</h1>
        <h3 class="shadowed">You could be chowing down on any of these meals any time you choose - seriously.</h3>
    </div>

    <div class="container-fluid"> 
        <div class="row justify-content-center top-pad">
            <div class="col-auto feature">
                <img src="img/meal1.png">
                <p class="strong">Veggie Fritters</p>
                <p>$9.50</p>
            </div>
            <div class="col-auto feature">
                <img src="img/meal2.png">
                <p class="strong">Fettucini Alfredo with Tempeh</p>
                <p>$11.00</p>
            </div>
            <div class="col-auto feature">
                <img src="img/meal3.png">
                <p class="strong">Oriental-Style Mix</p>
                <p>$9.00</p>
            </div>
            <div class="col-auto feature">
                <img src="img/meal4.png">
                <p class="strong">Veggie Medley</p>
                <p>$10.00</p>
            </div>
        </div>
        <br style="line-height: 3em;">