<div class="row justify-content-md-center">
    <div class="col-md-3 centre">
        <h1>{{title}} </h1>
        <h3>Redirecting....</h3>
    </div>
</div>
<meta http-equiv="refresh" content="5; URL=/dash" />